<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Book
        </th>
        <th>
            Publisher
        </th>
    </tr>
    <tr th:each="book : ${books}}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">API Innovation</td>
        <td th:text="${book.publisher.name}">foo</td>

    </tr>

</table>
<body>

</body>
</html>